{% extends "helpdesk/base.html" %}{% load i18n %}
{% load static from staticfiles %}
<!--{% block helpdesk_title %}{% trans "RSS Feeds" %}{% endblock %}-->
{% block helpdesk_body %}
<h2>{% trans "RSS Feeds" %}</h2>

<p>{% trans "The following RSS feeds are available for you to monitor using your preferred RSS software. With the exception of the 'Latest Activity' feed, all feeds provide information only on Open and Reopened cases. This ensures your RSS reader isn't full of information about closed or historical tasks." %}</p>

<dl>
    <dt><a href='{% url 'helpdesk:rss_user' user.get_username %}'><i class="fa fa-rss-square fa-fw"></i>{% trans "My Open Tickets" %}</a></dt>
    <dd>{% trans "A summary of your open tickets - useful for getting alerted to new tickets opened for you" %}</dd>

    <dt><a href='{% url 'helpdesk:rss_activity' %}'><i class="fa fa-rss-square fa-fw"></i>{% trans "Latest Activity" %}</a></dt>
    <dd>{% trans "A summary of all helpdesk activity - including comments, emails, attachments, and more" %}</dd>

    <dt><a href='{% url 'helpdesk:rss_unassigned' %}'><i class="fa fa-rss-square fa-fw"></i>{% trans "Unassigned Tickets" %}</a></dt>
    <dd>{% trans "All unassigned tickets - useful for being alerted to new tickets opened by the public via the web or via e-mail" %}</dd>
</dl>

<p>{% trans "These RSS feeds allow you to view a summary of either your own tickets, or all tickets, for each of the queues in your helpdesk. For example, if you manage the staff who utilise a particular queue, this may be used to view new tickets coming into that queue." %}</p>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <header class="panel-heading">
                            {% trans "Per-Queue Feeds" %}
                        </header>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Queue" %}</th>
                                            <th align='center'>{% trans "All Open Tickets" %}</th>
                                            <th align='center'>{% trans "My Open Tickets" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for queue in queues %}
                                        <tr>
                                            <td>{{ queue.title }}</td>
                                            <td align='center'><a href='{% url 'helpdesk:rss_queue' queue.slug %}'><i class="fa fa-rss-square fa-fw"></i></a></td>
                                            <td align='center'><a href='{% url 'helpdesk:rss_user_queue' user.get_username queue.slug %}'><i class="fa fa-rss-square fa-fw"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

{% endblock %}
