{% extends "helpdesk/base.html" %}{% load i18n %}{% load user_admin_url %}

<!--{% block helpdesk_title %}{% trans "Change System Settings" %}{% endblock %}-->

{% block helpdesk_body %}
<h2>{% trans "System Settings" %}</h2>

<p>{% blocktrans %}The following items can be maintained by you or other superusers:{% endblocktrans %}</p>

<ul>
    <li><a href='{% url 'helpdesk:email_ignore' %}'>{% trans "E-Mail Ignore list" %}</a></li>
    <li><a href='{% url 'admin:helpdesk_queue_changelist' %}'>{% trans "Maintain Queues" %}</a></li>
    <li><a href='{% url 'admin:helpdesk_presetreply_changelist' %}'>{% trans "Maintain Pre-Set Replies" %}</a></li>
    <li><a href='{% url 'admin:helpdesk_kbcategory_changelist' %}'>{% trans "Maintain Knowledgebase Categories" %}</a></li>
    <li><a href='{% url 'admin:helpdesk_kbitem_changelist' %}'>{% trans "Maintain Knowledgebase Items" %}</a></li>
    <li><a href='{% url 'admin:helpdesk_emailtemplate_changelist' %}'>{% trans "Maintain E-Mail Templates" %}</a></li>
    <li><a href='{% url 'changelist'|user_admin_url %}'>{% trans "Maintain Users" %}</a></li>
</ul>
{% endblock %}
