{% extends "helpdesk/base.html" %}{% load i18n %}

<!--{% block helpdesk_title %}{% trans "Add Ticket Dependency" %}{% endblock %}-->

{% block helpdesk_body %}{% blocktrans %}
<h2>Add Ticket Dependency</h2>

<p>Adding a dependency will stop you resolving this ticket until the dependent ticket has been resolved or closed.</p>{% endblocktrans %}

<form method='post' action='./'>

<fieldset>
    <dl>{% for field in form %}
        <dt><label for='id_{{ field.name }}'>{{ field.label }}</label></dt>
        <dd>{{ field }}</dd>
        {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
        {% if field.help_text %}<dd class='form_help_text'>{{ field.help_text }}</dd>{% endif %}
    {% endfor %}</dl>
</fieldset>

<input class="btn btn-primary" type='submit' value='{% trans "Save Ticket Dependency" %}' />

{% csrf_token %}</form>

{% endblock %}
